<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Comics - <%= request.path_info.split("s/").last.gsub("-", " ").gsub(/\w+/, &:capitalize) %></title>
</head>
<body>
	<h1><%= request.path_info.split("s/").last.gsub("-", " ").gsub(/\w+/, &:capitalize) %></h1>
	<ul>
		<li><a href=<%= %>>Issue 1</a></li>
		<li><a href="">Issue 2</a></li>
		<li><a href="">Issue 3</a></li>
	</ul>

	<ul>
		<li><a href="">Issue 4</a></li>
		<li><a href="">Issue 5</a></li>
		<li><a href="">Issue 6</a></li>
	</ul>

	<%= yield %>
</body>
</html>