<form action="/add" method="POST">
	<fieldset>
    <label for="comic-series">Comic Series:</label>
    <input type="text" name="comic-series" id="comic-series">
  </fieldset>
  <fieldset>
    <label for="issue">Issue #:</label>
    <input type="text" name="issue" id="issue">
  </fieldset>
  <fieldset>
    <label for="title">Title:</label>
    <input type="text" name="title" id="title">
  </fieldset>
  <fieldset>
    <label for="image-path">Image URL:</label>
    <input type="text" name="image-path" id="image-path">
  </fieldset>
  <fieldset>
    <label for="synopsis">Synopsis:</label>
    <textarea cols="40" rows="10" maxlength="500" name="synopsis" id="synopsis">Add a synopsis</textarea>
  </fieldset>
  <fieldset>
    <label for="submit"></label>
    <input type="submit" value="Submit" name="submit" id="submit">
  </fieldset>

</form>
