<h1>Comics</h1>

<ul>
	<li><a href="/comics/spiderman">Spiderman</a></li>
	<li><a href="/comics/ironman">Ironman</a></li>
	<li><a href="/comics/captain-america">Captain America</a></li>
	<li><a href="/comics/batman">Batman</a></li>
	<li><a href="/comics/green-lantern">Green Lantern</a></li>
	<li><a href="/comics/wonder-woman">Wonder Woman</a></li>
	<li><a href="/comics/judge-dredd">Judge Dredd</a></li>
	<li><a href="/comics/spawn">Spawn</a></li>
	<li><a href="/comics/sandman">Sandman</a></li>
</ul>