<p>Please enter the ID of the comic to edit:<p>

<form action ="/search" method="POST">
	<fieldset>
    <label for="comic-id">ID:</label>
    <input type="text" name="id-search" id="id-search">
  </fieldset>
  <fieldset>
    <label for="submit"></label>
    <input type="submit" value="Submit" name="submit" id="submit">
  </fieldset>
</form>